<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Contact Us</title>
			<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
			<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
			<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
			<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
			<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
			<link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
		<style>
        label {
			display: block;
            font-family: 'Dongle', sans-serif;
			font-size: 30px;
			color: #2E8B57;
			margin-bottom: 30px;
			position: relative;
		}
        textarea, input {
			font-size: 30px;
			color: #2E8B57;
			margin-bottom: 30px;
			position: relative;
		}
        #contact-form {
           	display: none;  
        }   
    	</style>
  	</head>
    <body>
		{% include 'header.html' %}
		<h1>Contact Us</h1>
		<h2>
			<a href="javascript:void(0)" onclick="showForm()"><img src="https://pic.onlinewebfonts.com/svg/img_348030.png"alt="form icon" width="32" height="32"></a>
			<a href="mailto:tselmeg.ulammandakh@yale.edu"><img src="../static/email.png" alt="Email icon" width="32" height="32"></a>
			<a href="https://github.com/utselmeg"><img src="https://github.com/favicon.ico" alt="GitHub" width="32" height="32"></a>
		</h2>
		<form id="contact-form" method="POST" action="{{ url_for('submit_form') }}">
			<label for="name">Name:</label>
			<input type="text" id="name" name="name" required maxlength="50">
			<br>
			<label for="email">Email:</label>
			<input type="text" id="email" name="email" required maxlength="120">
			<br>
			<label for="message">Message:</label>
			<input type='text' id="message" name="message" required maxlength="500"></textarea>
			<br>
			<br>
			<button type="submit">Send</button>
		</form>
		{% with messages = get_flashed_messages() %}
		<h2>{{ messages[0]}}</h2>
		<!-- {% if messages %}
			<ul class="flashes">
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
			</ul>
		{% endif %} -->
        {% endwith %}
        <script>
            function showForm() {
              	document.getElementById("contact-form").style.display = "block";
            }
        </script>
    </body>
</html>
